<div>
    <h1><%= t('.profile') %></h1>
    <p><%= User.human_attribute_name(:email) %>: <%= @user.email %></p>
    <p><%= User.human_attribute_name(:zip) %>: <%= @user.zip %></p>
    <p><%= User.human_attribute_name(:address) %>: <%= @user.address %></p>
    <p><%= User.human_attribute_name(:introduction) %>: <%= @user.introduction %></p>
    <p><%= link_to 'back',users_path %></p>
</div>